services:
  backend:
    build:
      context: ./backend-laravel
    container_name: laravel_app
    restart: unless-stopped
    ports:
      - "8000:80"
    env_file:
      - .env
    depends_on:
      - db
#    volumes:
#      - ./backend-laravel:/var/www/html  # <- bind mount local code
      
  frontend:
    build:
      context: ./frontend_reactjs
    container_name: react_app
    restart: unless-stopped
    ports:
      - "3000:3000"
    environment:
      - REACT_APP_API_URL=http://backend:80/api/
    depends_on:
      - backend
#    volumes:
#      - ./frontend_reactjs:/app  # <- bind mount local code

  db:
    image: mysql:8
    container_name: mysql_db
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
      - ./docker/mysql/init:/docker-entrypoint-initdb.d

volumes:
  db_data: